Payload_schemas/subscriptionObject.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include/>
	<xs:element name="SubscriptionObject" type="SubscriptionObject"/>
	<xs:complexType name="SubscriptionObject">
		<xs:sequence>
			<xs:element name="callbackEndpoint" type="URI" minOccurs="1" maxOccurs="1"/>
			<xs:element name="UVID" type="URN" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
